<!DOCTYPE html>
<html>
 <head>
   <meta charset=“UTF-8”>
   <title>title</title>
 </head>
 <body>
   <h1>Add a New Puppy!</h1>

   <form action="/" method="post">
     Name:<br>
  <input type="text" name="name"><br>
    Breed:<br>
  <input type="text" name="breed"><br>
    Age:<br>
  <input type="text" name="age"><br>

   <br>
   <button type="submit" value="submit">Submit</button>
 </form>
 </body>
</html>
